h4 Helado Online
p
	|Puede resultar difícil en ocasiones el estar lejos de casa, tener que irte de tu lugar para formarte académicamente, por trabajo o por otras situaciones que pueden pasar en la vida. <br> La nostalgia de estar lejos de hogar es normal, extrañar a la familia, amigos o los platos de casa es algo común, por eso este fin de semana puede ser la ocasión perfecta para conectarte con ellos. <br> La distancia ya no es un problema para acercarte a tus seres queridos, acá te dejamos las 3 mejores aplicaciones para estar en contacto con todos ellos mientras disfrutas un Vasito de Helado Oreo con Cereal:
ul
	li Skype
	li Facebook Messenger
	li FaceTime