h4 Cine en casa
p
	¡No hay nada como disfrutar una película en casa! Uno de sus grandes beneficios es poder estar con tus amigos comentando cada parte, haciendo algunos chistes, comparando los personajes con tus  amigos o simplemente disfrutando  de su compañía en la comodidad de tu  sillón,cosa que no puedes hacer en un cine. <br> Si la película se presta, verla con amigos puede ser una experiencia muy agradable. Acá te dejamos 5 películas para que te reúnas con ellos en el #PlanPingüino del fin de semana y disfrutes de una tarde de películas con un delicioso Helado Cremossito de Chocolate Frito:

ul
	li Star Wars
	li Pulp Fiction
	li El club de la pelea
	li Siempre a tu lado (Hachiko)
	li Diario de una pasión