h4 Noche de estrellas
p
	¿Hace cuánto que no miras las estrellas? En la actualidad, la mayoría de las personas vive su día a día encerradas en oficinas o haciendo trabajos monótonos donde no pueden sentirse en libertad. La paz de estar entre la naturaleza, así sea en el patio de tu casa, te lleva a un estado de reflexión donde es más fácil conocerte a ti mismo. Contemplar las estrellas también funcionan como meditaciones simples que traen grandes beneficios. Al poco tiempo de estar en contacto con empezarás a sentir que te llenas de una nueva energía. Rompe la monotonía y sal al patio de tu casa para vivir una noche espectacular. Te dejamos 3 cosas indispensables que no te deben faltar a la hora de acampar, además de unos deliciosos Brownies con Chocolate Gourmet.
ul
	li Una colchoneta será suficiente para estar cómodo viendo las estrellas.
	li Una carpa te protegerá del frío con algunas cobijas
	li Una linterna para contar historias con tus amigos.