h4 Banda de cocina 
p
	|Realizar actividades con nuestra familia que nos saquen de la rutina diaria hace que desviemos la atención de las preocupaciones y problemas.<br> Las actividades más sencillas y espontáneas son las que nos hacen reír a carcajadas y son las mejores para liberar el estrés y demás por eso, en este <strong>#PlanPingüino</strong>,  prepárate para rockear en familia. <br> Lo mejor de este plan es que puedes armar una banda con las herramientas que tienes en casa. Usa tu imaginación y déjate contagiar por el ritmo y el sabor del fin de semana.<br> Te dejamos 3 objetos que te servirán para que armes tu fiesta con el sabor de Pingüino
ul
	li No hay mejor batería que las ollas de la cocina
	li Soplando algunas botellas puedes obtener un sonido espectacular
	li Un vaso y un tenedor le darán el toque final a tu melodía