h4 Cocinando felicidad
p
	|Cocinar es una actividad con muchos beneficios por sí misma y en familia ayuda a promover varios valores en los niños y les promueve poner |práctica muchas de las cosas que aprenden en la escuela. <br>
	|Cocinar junto a los hijos genera un nuevo espacio de relacionamiento entre padres e hijos. En la cocina pueden realizarse actividades muy |divertidas y entretenidas. Es un ámbito que permite el descubrimiento de cosas nuevas y útiles, además de ser un lugar controlado por los |adultos. <br>
La cocina termina volviéndose el centro del hogar y es el espacio perfecto para pasar un buen tiempo en familia. Te traemos 3 recetas prácticas y sencillas para tu #PlanPingüino del fin de semana.
ul
	li Como Bubbaloo
	li Postre Manicho
	li Sandwich de Helado
p Y por supuesto puedes preparar una deliciosa Tarta de Oreo Pingüino con toda tu familia. 
