h4 ¡Aprende un nuevo ritmo!
p
	|Nunca es tarde para aprender un nuevo ritmo, el baile es un excelente ejercicio cardiovascular que aumenta nuestra capacidad pulmonar y da |flexibilidad y firmeza a los músculos. <br>
	|Además de ser un entretenimiento y un estupendo ejercicio físico, el baile puede constituir una oportunidad para relacionarnos con otros, |incluso para hacer nuevas amistades. <br>
	|Alimenta tus ganas de bailar con el #PlanPingüino del fin de semana
	|¡Así es que a mover el esqueleto! Te dejamos 3 géneros musicales indispensables que puedes aprender en casa con tus amigos después de |disfrutar un delicioso Bowl de Helado Marmoleado de Mora.
ul
	li Salsa
	li Bachata
	li Merengue