h4 Competencia de destrezas #2
p
	¡Que siga el juego! Para que la diversión continúe te dejamos otras 3 competencias para el #PlanPingüino del fin de semana. Invita a tus amigos y disfruta. <br>
	<strong>¡A la lata!:</strong> Mientras más se estira un elástico, mayor será su potencia, haciéndolo un elemento ideal para practicar tiro al blanco. En éste desafío, hay que lanzar elásticos tomando cierta energía para derribar 6 latas y dejarlas fuera de la superficie.<br>
	<strong>Torre de tuercas:</strong> En este juego, el concursante debe deslizar de un palillo de pincho 10 tuercas de metal, una por una, para formar una torre. El que lo logre en el menor tiempo lo logre gana. Un movimiento en falso podría hacer que la torre caiga.<br>
	<strong>Zapato volador:</strong> En este desafío, el jugador tendrá que usar su pie para lanzar un zapato hacia una mesa ubicada a cierta distancia y deberá lograr que éste aterrice sobre la superficie en 10 intentos.<br>
