h4 Fin de semana fuera de serie
p
	|Solo un capítulo más…  Eso es lo que siempre decimos, ver series se convirtió en uno de los planes favoritos de el fin de semana.<br>
	|Y es que verlas con tu pareja, tus amigos o familia puede ser un momento de unión, de diversión, y desconexión con el mundo real.<br>
	|Así es que disfruta este <strong>#PlanPingüino</strong> todo el día en tu casa bajo las cobijas, disfrutando unos sanduchitos de cereza |gourmet con estas 5 series que sí o sí tienes que ver.
ul
	li House of Cards
	li Mr. Robot
	li The Walking Dead
	li Game of Thrones
	li The Get Down Brothers