svg(id="square-video-15" class="square" version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 579 348.197',  xml:space='preserve')
	path#square-video-15-path(d='M455.667,9.932C371.608,14.699,289.06,28.541,205,33.265c-56.658,3.189-115.004-3.12-171.667-0.333\
	c-9.865,0.468-18.733,9.402-19,26.667C13.918,85.406,13.28,111.144,14,136.931c1.482,53.019,4.62,106.012,6.333,159\
	c0.752,23.312,10.949,28.563,23,25.667c15.57-3.723,54.085,8.299,69.667,7c48-4,64.563-10.166,108.667-8\
	c38.746,1.9,77.918,4.54,116.667,6.334c41.163,1.906,82.505,2.98,123.666,4.999c24.612,1.229,50.262,2.054,74.667,6.667\
	c14.73,2.787,20.84-9.476,21.666-30.667c3.008-77.486,5.74-155.2,9.001-232.667c0.703-16.566-4.648-25.909-12.334-34.333\
	C524.649,7.677,489.788,8.298,455.667,9.932z')
	clippath#square-video-15-clippath
		use(xlink:href='#square-video-15-path', overflow='visible')
	g(transform='matrix(1 0 0 1 0 -1.164153e-10)', clip-path='url(#square-video-15-clippath)', enable-background='new    ')
		image(overflow='visible', width='295', height='167', 	xlink:href='img/recipes/thumbnails/15.png', transform='matrix(2.078 0 0 2.078 -40 9.765625e-04)')
	path(opacity='0.7', fill='#E53027', enable-background='new    ', d='M342.72,173.901\
	c5.539,28.983-23.479,49.25-53.429,53.43c-29.226,4.077-56.699-24.104-53.43-53.43c3.383-30.346,23.921-53.43,53.43-53.43\
	C318.801,120.471,337.148,144.749,342.72,173.901z')
	path(fill='#FFFFFF', d='M340.969,173.842c5.452,30.238-27.295,48.135-52.766,51.424\
	c-14.098,1.821-27.997-4.452-37.655-14.502c-10.003-10.406-14.654-24.473-12.667-38.737c1.813-13.011,7.415-25.703,16.731-35.073\
	c9.264-9.315,21.817-14.174,34.875-14.271c13.086-0.096,25.208,5.388,34.169,14.827\
	C333.021,147.382,338.389,160.647,340.969,173.842c0.479,2.448,4.013,3.052,3.446,0.158c-4.884-24.965-19.711-49.892-46.474-54.923\
	c-12.597-2.369-25.973,0.399-36.811,7.118c-10.679,6.62-18.256,17.33-22.715,28.917c-4.882,12.68-6.22,26.701-1.682,39.65\
	c4.373,12.477,13.776,23.372,25.448,29.56c5.925,3.143,12.331,5.056,19.028,5.538c6.903,0.499,13.971-1.027,20.577-2.885\
	c12.891-3.622,25.309-10.437,34.022-20.748c7.587-8.975,10.687-20.683,8.605-32.226C343.973,171.538,340.447,170.94,340.969,173.842\
	z')
	path(fill='#FFFFFF', d='M269.037,152.238c0,0,3.582,39.799,3.184,43.381c-0.398,3.581,37.809-22.288,37.809-22.288\
	S267.047,155.421,269.037,152.238z')
	g.right-top
		path(opacity='0.8', fill='#D32623', enable-background='new    ', d='M540.884,45.438c0,0-48.871-1.92-60.876-1.92\
		c-12.003,0-61.733,1.92-66.021,2.88c-4.287,0.961-57.446-7.681-57.446-7.681s-3.428-8.642-7.717,2.88\
		c-4.287,11.522,3.43,70.093,3.43,70.093s-35.15,45.129,53.16,42.248c88.312-2.881,101.174-0.959,125.182,0.961\
		s37.727-22.086,36.012-30.728c-1.716-8.641-4.286-30.726,0-54.73c2.104-11.779-0.639-17.55-3.857-21.093\
		C559.408,44.671,555.293,43.482,540.884,45.438z')
		path(fill='none', stroke='#D32623', stroke-width='2', stroke-miterlimit='10', d='M540.884,45.438\
		c0,0-48.871-1.92-60.876-1.92c-12.003,0-61.733,1.92-66.021,2.88c-4.287,0.961-57.446-7.681-57.446-7.681s-3.428-8.642-7.717,2.88\
		c-4.287,11.522,3.43,70.093,3.43,70.093s-35.15,45.129,53.16,42.248c88.312-2.881,101.174-0.959,125.182,0.961\
		s37.727-22.086,36.012-30.728c-1.716-8.641-4.286-30.726,0-54.73c2.237-12.534-0.393-18.528-4.357-21.843\
		C558.623,44.564,554.404,43.604,540.884,45.438z')
		text(transform='matrix(1 0 0 1 375.9834 79.7681)')
			tspan(x='0', y='0', fill='#FFFFFF', font-family="'stick'", font-size='25px', letter-spacing='1') negritos 
			tspan(x='0', y='30', fill='#FFFFFF', font-family="'stick'", font-size='25px', letter-spacing='1') con helado
			tspan(x='0', y='60', fill='#FFFFFF', font-family="'stick'", font-size='25px', letter-spacing='1') chocolate gourmet
	path(fill='#D32623', d='M454.898,8.255c-11.736,0-31.711-0.838-51.653,0.144c-87.504,4.33-159.239,24.233-248.745,19.8\
	c-35.299-1.749-85.081-1.275-120.386-0.567c-14.211,0.294-21.825,9.448-23.412,32.567C9.968,70.855,8.513,81.576,8.805,92.167\
	c1.482,54.521,3.244,109.053,5.307,163.531c0.638,16.828,2.138,33.646,3.943,50.244c1.665,15.271,6.324,24.283,17.252,21.941\
	c17.891-3.842,37.25,4.386,55.193,4.812c50.622,1.164,99.915-8.045,150.527-5.6c72.918,3.553,145.84,6.662,218.753,10.363\
	c26.463,1.34,53.017,1.938,79.31,6.424c13.799,2.361,19.424-7.295,21.247-25.994c2.801-28.756,5.28-57.773,6.238-86.826\
	c1.743-53.053,1.826-106.247,3.568-159.297c0.534-16.25-2.865-24.85-10.729-33.35C529.795,6.427,497.257,0.037,454.898,8.255z\
	M565.193,75.382c-3.262,77.467-5.806,155-8.812,232.486c-0.826,21.191-6.065,30.271-20.797,27.482\
	c-24.404-4.613-49.149-4.506-73.763-5.734c-79.906-3.918-159.822-7.402-239.73-11.32C177.987,316.13,161,323.198,113,327.198\
	c-15.581,1.299-54.596-11.623-70.166-7.9c-12.051,2.896-20.137-0.6-20.889-23.912c-1.714-52.988-3.838-105.932-5.32-158.951\
	c-0.72-25.787-0.773-51.67-0.358-77.478c0.267-17.264,7.086-22.88,16.951-23.348C89.88,32.822,148.342,40.386,205,37.197\
	c84.06-4.724,166.307-20.375,250.365-25.143c34.121-1.633,67.923-2.7,98.273,30.555C561.324,51.033,565.896,58.816,565.193,75.382z')
	|{#if isset($locked15) && $locked15 != "no" #}
	g#square-video-15-locked
		include locked-recipe.jade
	|{#/if#}