include master/general/doctype.jade
	include master/general/head.jade
		link(rel='stylesheet', href='css/form.css?{#$rand#}')
		link(rel='stylesheet', href='css/register.css?{#$rand#}')
	body.white
		include master/general/message.jade
		include master/general/header.jade
		section
			include master/svg/hot-air-balloon-red.jade
			include master/svg/helicopter-red.jade
			include master/svg/balloon-red.jade
			include master/svg/camera-red.jade
			include master/svg/car-red.jade
			include master/svg/trolley-red.jade
			article
				form(autocomple="off" id="pinguino" name="pinguino")
					include master/svg/copy-edit-profile.jade
					#button-facebook Facebook
					input(type="text" id="idRs" name="idRs")
					.goup-left
						label(for="name") Nombres
						input(type="text" id="name" name="name" tabindex="1" value="{#$nombre#}")

						label(for="name") Email
						input(type="email" id="email" name="email" tabindex="3" value="{#$email#}")

						label(for="name") Contraseña
						input(type="password" id="lepas" name="lepas" tabindex="5" value="{#$pwd#}")

					.goup-right
						label(for="name") Apellidos
						input(type="text" id="apellido" name="apellido" tabindex="2" value="{#$apellido#}")

						label(for="name") Ciudad
						input(type="text" id="ciudad" name="ciudad" tabindex="4" value="{#$ciudad#}")

						label(for="name") Confirma tu contraseña
						input(type="password" id="lepasc" name="lepasc" tabindex="6" value="{#$pwd#}")

					.goup-middle
						
						.button(id="volver") volver
						.button(id="updateP") confirmar
		include master/general/footer.jade
		include master/general/scripts.jade
		script(src="js/vendor/jquery.validate.min.js?{#$rand#}")
		script(src="js/vendor/additional-methods.min.js?{#$rand#}")
		script(src='js/registroFb.js?{#$rand#}')
		script(src='js/register.js?{#$rand#}')
		script(src='js/edit-profile.js?{#$rand#}')




