<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>mail-confirmacion</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">td img {display: block;}</style>

</head>
<body bgcolor="#ffffff">

<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
	<tr style="border-collapse:collapse">
   <td colspan="2" align="center" style="border-collapse:collapse"><font color="#666666" face="Arial, Helvetica, sans-serif" size="1">Si no puedes ver este e-mail haz clic <a target="_blank" href="#"><font color="#0066CC">aqu&iacute;<br />
     <br />
   </font></a></font></td>
  </tr>
  <tr style="border-collapse:collapse">
   <td><img name="n01" src="images/01.jpg" width="600" height="76" style="color:#e42f27; display:block; font-family:arial; font-size:20px;text-align:center; background-color:#fdfdfd " alt="Pingüino" /></td>
  </tr>
  <tr style="border-collapse:collapse">
   <td><img name="n02" src="images/02.jpg" width="600" height="99" style="color:#e42f27; display:block; font-family:arial; font-size:32px;text-align:center; background-color:#fdfdfd " alt="¡Tu contraseña del" /></td>
  </tr>
  <tr style="border-collapse:collapse">
   <td><img name="n03" src="images/03.jpg" width="600" height="203" style="color:#e42f27; display:block; font-family:arial; font-size:32px;text-align:center; background-color:#fdfdfd " alt="#planpingüino" /></td>
  </tr>
  <tr style="border-collapse:collapse">
   <td><img name="n04" src="images/04.jpg" width="600" height="75" style="color:#686868; display:block; font-family:arial; font-size:20px;text-align:center; background-color:#fdfdfd " alt="se ha restablecido correctamente! tu nueva contraseña es" /></td>
  </tr>
   <tr style="border-collapse:collapse">
   <td style="background-color:#fdfdfd; font-family:Verdana, Geneva, sans-serif; font-size:32px; color:#666; text-align:center;">%%XXXXX%%</td>
  </tr>
  <tr style="border-collapse:collapse">
   <td><a href="#"><img name="n05" src="images/05.jpg" width="600" height="202" style="color:#e42f27; display:block; font-family:arial; font-size:20px;text-align:center; background-color:#fdfdfd " alt="Ingresa www.planpinguino.com y sigue desbloqueando las recetas para tus fines de semana" /></a></td>
  </tr>
</table>
</body>
</html>
